:root {
  --text-dark : #000;
  --text-light: #fff;
  --text-lightgray: #8b8b8b;
  --text-darkgray: #4c5969;

  --body-font: "Roboto", sans-serif;
  --primary-button: #54efc3;
  --secondary-button: #4943da;
  --bg-white: #fff;
  --filter-border: #ccc;

}


.App {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.container {
  background-color: #fff;
  padding: 2rem;
  height: 100vh;
  max-width: 1400px;
}

.filter-section {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.filter {
  border: 1px solid var(--filter-border);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: small;
  color: var(--text-lightgray)
}
