:root {
  --text-dark : #000;
  --text-light: #fff;
  --text-lightgray: #8b8b8b;
  --text-darkgray: #4c5969;
  --body-font: "Roboto", sans-serif;
  --primary-button: #54efc3;
  --secondary-button: #4943da;
  --bg-white: #fff;
  --filter-border: #ccc;
}


.App {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.container {
  background-color: #fff;
  padding: 2rem;
  height: auto;
  max-width: 1400px;
}

.filter-section {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.filter {
  border: 1px solid var(--filter-border);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: small;
  color: var(--text-lightgray);
  white-space: nowrap;
}

.cards-section {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0 1rem 1rem;
  gap: 1rem;
  overflow-y: scroll;
}


@media (max-width: 670px){
  .cards-section {
    justify-content: center;
  }
}